{{#extend "stylesheets"}}
<link rel="stylesheet/less" href="/css/home.less">
{{/extend}}
    <ul class="list">
      <li><a href="/home">主页</a></li>
      <li><a href="/uCenter">个人中心</a></li>
      <li><a href="/search">查询</a></li>
      <li><a href="/study">学习</a></li>
      <li><a href="/recreation">娱乐</a></li>
      <li><a href="/gFrinds">好友</a></li>
      <li><a href="/setting">设置</a></li>
      <li><a href="/help">帮助中心</a></li>
    </ul>
    {{#extend "scripts"}}
      
    {{/extend}}

